.namespace-text{
    color:orange;
}
p{
  margin-top:10px!important;
  margin-bottom:0px!important;
}

.nav-link-active {
    color: rgba(0,0,0,.7)!important;
}

html,body{
    font-family: fantasy;
    font-size: small;
}
h1,h2,h3,h4,h5{
    margin-top:15px!important;
}